<h2>You have Updated thre image of Blog Post</h2>

<h3> Title :  <%= @blog.title %></h3>
<h4> Description :  <%= @blog.description %></h4>
<br/>
<h4> Created by :  <p><%= @blog.user.email %> </p></h4>