// $navbar-default-bg: #86C6E8;

@import "bootstrap";

.navbar-custom{
    background-color: #86C6E8 !important;
}
#logo{
    float: left;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#logo:hover{
    color: #fff;
    text-decoration: none;
}

// .container{
//     align-items: center;
// }

#blok1, #blok2{
    display: inline;
}

// #blok-container{
//     align: center;
// }

#blogs-submit-form-btn{
    padding-right: 717px;
}

.blog-actions {

    border-top: 1px solid #eaeaea;
    
    padding-top: 5px;
    
}
    
.description {
    
   margin-top: 0;
    
}

.blog-title {

    font-weight: bold;
    
    font-size: 1.5em;
    
}
        
.blog-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;
        
padding-bottom: 15px;
        
}
#blog-details{
    padding-left: 340px;
    padding-right: 340px;
}

#create-blog-err{
    margin-left: 200px;
    margin-right: 200px;
}